* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#root {
  height: 100%;
  overflow: hidden;
}
.menu--container {
  width: 110%;
  height: 100%;
  overflow-y: scroll;
  position: relative;
}
#menuImg {
  width: 100%;
  max-width: 100%;
  transform: scale(1.05);
  position: absolute;
  top: 110px;
  left: -62px;
}
